:root {
  --primary: #eaeaea;
}

.btn {
  padding: 10px 20px;
  border-radius: 3px;
  outline: none;
  border: none;
  cursor: pointer;
  max-width: 42%;
  text-align: center;
  transition: all 0.3s ease;
}

.btn-home {
  padding: 8px 20px;
  border-radius: 4px;
  outline: none;
  border: none;
  cursor: pointer;
  text-align: center;
  transition: all 0.3s ease;
}

.pricing-btn {
  width: 80%;
  max-width: 100%;
}

.btn:hover {
  background-color: #f00946;
}

.blue {
  background-color: #276afb;
  color: #fff;
  border: none;
}

.red {
  background-color: #f00946;
  color: #fff;
  border: none;
}

.primary {
  background-color: #1c2237;
  color: #fff;
  border: none;
}

.primary:hover {
  background-color: #fff;
  color: #242424;
  /*border: none;*/
}

.green {
  background: #25ce4a;
  color: #fff;
  border: none;
}

.green:hover {
  background-color: #242424;
}

.border {
  border: 1px solid #ffffff;
}

.footer {
  padding: 13px 20px 10px 13px;
}
